<!--
    Add Training Type page for only admin
    Author : Munhan
    Date : 30/9/2017
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Add training Type</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Add Training Type</h2>
    <div>
        <form class="form-horizontal" th:object="${trainTypeForm}" th:action="@{/trainTypeSubmit}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Trainer Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" th:required="required"/>
                </div>
                <label class="col-sm-2 control-label">Training Type:</label>
                <div class="col-sm-10">
                    <select class="form-control" th:field="*{type}" th:required="required">
                        <option value="yoga">yoga</option>
                        <option value="kickboxing">kickboxing</option>
                        <option value="Weights">Weights</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Training Details:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{details}" th:required="required"/>
                </div>
            <div class="row" style="margin: 0px;">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>