<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml">
<head lang = "en">

    <title>Lifestyle - STPS</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/datatableinc :: datatableinc"></th:block> /*/-->

    <script>
        $(document).ready(function(){
            $('#trainingTypes').DataTable();
        });
    </script>

</head>

<body>
<div class="container-fluid">
    <div class="row content">
        <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <div class="col-sm-10 main">
            <h2>Training Management</h2>

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#1" data-toggle="tab">Training Types</a>
                </li>
                <li>
                    <a href="#2" data-toggle="tab">Training Programs</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id = "1">
                    <div style="margin-bottom: 40px; margin-top: 3px;">
                        <form th:action="@{/trainingType/new}" method="post" style="padding-bottom: 10px;">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right buttonCenter"><i class="glyphicon glyphicon-plus"></i> Add Training Type</button>
                            </div>
                        </form>
                    </div>
                    <table id="trainingTypes" class="table table-striped display">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Details</th>
                            <th>Created On</th>
                            <th class="sorting-disabled"></th>
                            <th class="sorting-disabled"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="type : ${types}">
                            <td th:text="${type.name}">Name</td>
                            <td th:text="${type.type}">type</td>
                            <td th:text="${type.details}">Description</td>
                            <td th:text="${type.dateCreated}">Created On</td>
                            <td>
                                <form th:action="${'/trainingtypeedit/' + type.id}">
                                    <input type="submit" class="btn btn-warning btn-block" value="Edit"/>
                                </form>
                            </td>
                            <td>
                                <form th:action="${'/trainingtypedelete/' + type.id}">
                                    <input type="submit" class="btn btn-danger btn-block" value="Delete"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>