<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LifeStyle Sport Training Providing System</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


    <link href="../static/css/login.css"
          th:href="@{/css/login.css}" rel="stylesheet" media="screen"/>

    <script th:inline="javascript">
        function myFunc() {
            var input = document.getElementById("email").value;
            if (input.length > 9){
                var xhttp = new XMLHttpRequest();
                var target = "/jersey/rest/register/checkemail/"+input;
                xhttp.open("GET", target , false);
                xhttp.send();
                document.getElementById("send").disabled = true;
                var response = xhttp.responseText;
                if (response == "fail"){
                    document.getElementById("send").disabled = true;
                    document.getElementById("divformcheck").style.display = "block";
                    document.getElementById("formcheck").innerText = "Invalid email entered. Proceed to registration.";
                }else{
                    document.getElementById("send").disabled = false;
                    document.getElementById("divformcheck").style.display="none";
                }
            }
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" th:action="@{/sendReset}" th:object="${model}" method="post" role="form" style="display: block;">
                                <div>
                                    <div id="divformcheck" class="alert alert-danger" role="alert" style="display: none;">
                                        <p id="formcheck">Hello</p>
                                    </div>
                                </div>
                                <h2>Forget Password?</h2>
                                <p style="padding-left: 5%">Enter your registered email to reset your password. You may need to check your spam folder.</p>
                                <div class="form-group">
                                    <input type="email" th:field="*{email}" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" onkeyup="myFunc()" required="required"/>
                                </div>
                                <div class="col-xs-6 pull-left">
                                    <a href="#" class="btn btn-login" th:href="@{/login}" style="width: 95%; text-align: center">Cancel</a>
                                </div>
                                <div class="col-xs-6 pull-right">
                                    <input type="submit" id="send" name="fp-submit" tabindex="4" class="form-control btn btn-login" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h6 style="font-size:14px;font-weight:100;color: #fff;">Team 8 LifeStyle Sport Training Providing System</h6>
        </div>
    </div>
</footer>
</body>
</html>