<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset='utf-8' />
    <link href="../static/css/commonSidebarCss.css" th:href="@{/css/commonSidebarCss.css}" rel="stylesheet"/>
    <title>My Personal Calendar</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


    <!-- Calendar Script -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" type="text/css" rel="stylesheet" />

    <style>
        #calendar {
            max-width: 100%;
            margin: 0 auto;
        }

    </style>
</head>

<body>
<div class="title" style="display: inline-block; overflow: hidden;">
    <h2>My Personal Calendar</h2>
    <!-- Trigger the modal with a button -->
    <!--<form class="form-horizontal" th:action="@{/schedule/new}" method="post">-->
        <!--<div class="row" style="margin: 0px;">-->
            <!--<button type="submit" class="btn btn-default">New Schedule</button>-->
        <!--</div>-->
    <!--</form>-->


    <br/>

    <!-- If empty -->
    <div th:if="${#lists.isEmpty(myCal)}">
        <h1>Sorry, There is no schedule for you at the moment</h1>
    </div>
    <!-- //If not empty -->
    <div th:if="${not #lists.isEmpty(myCal)}">
        <form th:action="@{/logout}" method="post">
            <div id='bootstrapModalFullCalendar'></div>
            <!-- <div class="col-sm-2" style="padding-top: 30px;">
                     <span sec:authorize="isAuthenticated()">
                    <input type="submit" value="Sign Out" />
                               </span>
            </div> -->
        </form>
    </div>
    <br />
</div>

<!-- For Add Event -->
<div id="CalAddEevent" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            </div>
            <form class="form-horizontal" style="margin-left: 10px;" th:object="${scheduleForm}" th:action="@{/scheduleFormSubmit}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <br />

                <!-- Training Category -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Training Category : </label>
                    <div class="col-sm-7">
                        <select  class="form-control" required="required" name="TTCategory" id="TTCategory" th:field="*{TrainingCategory}">
                            <option disabled="disabled" selected="selected" th:value="default" > -- Please select one of the option -- </option>
                            <option value="Group">Group</option>
                            <option value="Individual">Individual</option>
                        </select>
                    </div>
                </div>
                <br />

                <!-- Training Type -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Training Type : </label>
                    <div class="col-sm-7">
                        <select  class="form-control" required="required" name="TType" id="TType" th:field="*{TrainingType}">
                            <option disabled="disabled" selected="selected" th:value="default" > -- Please select one of the option -- </option>
                            <option th:each="TT : ${trainType}" th:value="${TT.type}"
                                    th:text="${TT.type}" >
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Training Description -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Training Description : </label>
                    <div class="col-sm-7">
                        <textarea rows="4" cols="50" class="form-control" th:field="*{TrainingDesc}" th:required="required"></textarea>
                    </div>
                </div>


                <input type="hidden" id="myspan" th:field="*{TrainingDateStart}"/>
                <!-- Training Date Start -->
                <!-- <div class="form-group">
                    <label class="col-sm-2 control-label">Training Date (Start) : </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:required="required"/>
                    </div>
                </div> -->

                <!-- Training Time Start -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Training Time (Start) : </label>
                    <div class="col-sm-7">
                        <!-- <input class="form-control" type="text" id="time" name="trainingTime" th:field="*{TrainingTimeStarts}" th:required="required"/> -->
                        <!-- <input id="demo1" placeholder="1234" name="trainingTime" th:field="*{TrainingTimeStart}" th:required="required"/> -->
                        <input class="form-control" type="text" id="time" name="trainingTime" th:field="*{TrainingTimeStart}" th:required="required"/>
                    </div>
                </div>

                <!-- Training Time End -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Training Time (End) : </label>
                    <div class="col-sm-7">
                        <!-- <input class="form-control" type="text" id="time" name="trainingTime" th:field="*{TrainingTimeStarts}" th:required="required"/> -->
                        <!-- <input id="demo1" placeholder="1234" name="trainingTime" th:field="*{TrainingTimeStart}" th:required="required"/> -->
                        <input type="text" id="TTE" class="form-control" th:field="*{TrainingTimeEnd}" th:readonly="readonly"/>
                    </div>
                </div>

                <!-- Training Capacity -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Training Capacity : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="trainingCapacity" id="trainingCapacity" th:field="*{TrainingCapacity}" th:readonly="readonly"/>
                    </div>
                </div>


                <!-- Training Venue -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Training Venue : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="trainingVenue" th:field="*{TrainingVenue}" th:readonly="readonly"/>
                    </div>
                </div>


                <!-- Training Price -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Training Price : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="trainingPrice" th:field="*{TrainingPrice}" th:required="required"/>
                    </div>
                </div>

                <div class="row" style="margin: 0px;">
                    <button type="submit" id="btnSubmit" class="btn btn-default">Submit</button>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>

<!-- For more Calendar description -->
<div id="CalMoreDesc" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h1 style="display: inline">Title: </h1><h2 style="display: inline" id="modalTitle" class="modal-title"></h2>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var myEvents = [];

    var theList = [[${myCal}]]
    for (i = 0; i < theList.length; i++) {
        scheudule(String(Object.values(theList[i])[9]), String(Object.values(theList[i])[10]), String(Object.values(theList[i])[3]),
            String(Object.values(theList[i])[8]), String(Object.values(theList[i])[11]), String(Object.values(theList[i])[4]), String(Object.values(theList[i])[7]) );
    }

    function scheudule(titles, venue, startDate, startTime, userN, Desc, endTime)
    {
        if (userN == [[${username}]])
        {
            eventTitle = titles;
            eventStart = startDate + "T" + startTime;
            myEvents.push({
                title: eventTitle,
                start: eventStart,
                description: Desc
            });
        }
    }

    pushevent();

    function pushevent()
    {
        $(document).ready(function() {
            /* $('#calendar').fullCalendar({
                defaultDate: '2017-09-12',
                selectable: true,
                selectHelper: true,
                height: 350,
                eventLimit: true, // allow "more" link when too many events
                events: myEvents,
                header: {
                    left: '',
                    center: 'prev title next',
                    right: ''
                },
                eventClick:  function(event, jsEvent, view) {
                    $('#modalTitle').html(event.title);
                    $('#modalBody').html(event.description);
                    $('#eventUrl').attr('href',event.url);
                    $('#fullCalModal').modal();
                }
            }); */
            $('#bootstrapModalFullCalendar').fullCalendar({
                defaultDate: '2017-09-12',
                selectable: true,
                selectHelper: true,
                height: 350,
                eventLimit: true, // allow "more" link when too many events
                events: myEvents,
                select: function (start, end, jsEvent, view) {
                    document.getElementById("myspan").value = convert(start);
                    $('#CalAddEevent').modal();
                },
                eventClick:  function(event, jsEvent, view) {
                    $('#modalTitle').html(event.title);
                    $('#modalBody').html(event.description);
                    $('#CalMoreDesc').modal();
                    return false;
                }
            });

        });
    }

    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth()+1)).slice(-2),
            day  = ("0" + date.getDate()).slice(-2);
        return [ date.getFullYear(), mnth, day ].join("-");
    }

    $('#time').datetimepicker({
        format: 'HH:mm:ss'
    }).on("dp.change",function(e){
        var d = new Date(e.date);
        var newHour = d.setHours(d.getHours()+1);
        var hours = d.getHours();
        var minutes = d.getMinutes();
        var second = d.getSeconds();
        if (hours < 10)
        {
            hours = "0"+hours;
        }
        if (minutes < 10)
        {
            minutes = "0"+minutes;
        }
        if (second < 10)
        {
            second = "0"+second;
        }
        document.getElementById("TTE").value = hours + ":" + minutes + ":" + second;
    });

    $('#TTCategory').change(function() {
        if ($(this).val() == "Group")
        {
            document.getElementById("trainingCapacity").readOnly=false;
        }
        else
        {
            document.getElementById("trainingCapacity").readOnly=true;
        }
    });

    $('#trainingCapacity').change(function() {
        if ($(this).val() < 10)
        {
            document.getElementById("btnSubmit").disabled = true;
            alert("The minimum must be 10");
        }
        else
        {
            document.getElementById("btnSubmit").disabled = false;
        }
    });

    /*]]>*/
</script>
    <th:block th:include="fragments/commondashboard :: commondashboard"></th:block>

</body>
</html>