<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LifeStyle Sport Training Providing System</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="../static/css/login.css"
          th:href="@{/css/login.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Thank you for registering, our administrator will get back to you shortly.</h2>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h6 style="font-size:14px;font-weight:100;color: #fff;">Team 8 LifeStyle Sport Training Providing System</h6>
        </div>
    </div>
</footer>
</body>
</html>